body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif, Arial, Helvetica;
    font-size: 120%;
}

.topnav {
    visibility: hidden;
}

header {
    background: #fff;
    padding: 2%;
    font-size: 110%;
    padding-bottom: 0%;
    height: 1vh;
}

ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    padding-right: 5%;
    background-color: #fff;
    float: right;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #8860D0;
}

nav a:hover {
    font-weight: bolder;
}

nav a:active {
    color: #C1C8E4;
}

#one {
    text-align: center;
    background-color: #c1c8e4;
    background-image: radial-gradient(#84ceeb, #c1c8e4);
    height: 85.4vh;
}

h1 {
    font-size: 400%;
    padding-top: 10%;
    color: #8860D0;
}

#one p {
    font-size: 200%;
    color: #5680e9;
}

#two {
    width: 80%;
    height: 80vh;
    display: inline-block;
    margin-left: 20%;
    padding-top: 10%;
}

aside img {
    width: 70%;
    border-radius: 45%;
    margin-left: 10%;
}

.flex-boxes {
    width: 40%;
    float: left;
    margin: 0 auto;
    font-size: 150%;
}

.flex-boxes h2 {
    font-size: 100%;
    padding-top: 0px;
    font-weight: lighter;
}

#two article {
    padding-top: 5%;
    color: #8860D0;
}

#three {
    background-color: #C1C8E4;
    height: 75vh;
    margin-bottom: 0%;
    padding-top: 2%;
}

#three a {
    text-decoration: none;
}

#projects {
    display: inline-block;
    margin-left: 10%;
}

#projects img {
    margin: 0 auto;
    width: 98%;
}

h2 {
    color: #8860D0;
    font-size: 200%;
    margin-top: 0%;
    margin-left: 20%;
}

footer {
    text-align: center;
    color: #8860D0;
    font-size: 200%;
    height: 30vh;
}

span {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    margin-right: 3%;
}

#three img {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(136, 96, 208, 0.5), 0 6px 20px 0 rgba(136, 96, 208, 0.12);
}

#three img:hover {
    box-shadow: 0 4px 8px 0 rgba(136, 96, 208, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

footer div img:hover {
    transform: matrix(1, 0.1, 0, 1, 0.3, 0.5);
    opacity: 0.8;
}

@keyframes slide-up {
    100% {
        transform: translateY(0);
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#h1-first {
    animation: 1.2s slide-up linear forwards;
    animation-timing-function: ease;
    transform: translateY(4rem);
}

#h1-second {
    animation: 2s slide-up linear forwards;
    animation-timing-function: ease;
    transform: translateY(6rem);
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
    }
    .topnav {
        visibility: visible;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #fff;
        background-image: radial-gradient(#84ceeb, #c1c8e4);
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #fff;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #c1c8e4;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        font-weight: bolder;
    }
    /* Style the active link (or home/logo) */
    .active {
        background-color: #fff;
    }
    h1 {
        padding-top: 32%;
    }
    #one {
        height: 100vh;
    }
    #two {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 130vh;
    }
    .flex-boxes {
        width: 100%;
        clear: both;
        margin: 0 auto;
        font-size: 150%;
    }
    aside img {
        margin-top: 0;
        width: 50%;
    }
    #three {
        height: 135vh;
    }
    #projects {
        margin-left: 4%;
    }
}

@media screen and (min-width: 600px) {
    nav li {
        display: none;
    }
    .topnav {
        visibility: visible;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #fff;
        background-image: radial-gradient(#84ceeb, #c1c8e4);
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #fff;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #c1c8e4;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    /* Add a grey background color on mouse-over */
    .topnav #myLinks a:hover {
        background-color: #ddd;
        font-weight: bolder;
    }
    /* Style the active link (or home/logo) */
    .active {
        background-color: #fff;
    }
    h1 {
        padding-top: 32%;
    }
    #one {
        height: 100vh;
    }
    #two {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 130vh;
    }
    .flex-boxes {
        width: 100%;
        clear: both;
        margin: 0 auto;
        font-size: 150%;
    }
    aside img {
        margin-top: 0;
        width: 38%;
    }
    #three {
        height: 145vh;
    }
    #projects img {
        width: 80%;
    }
    #projects {
        margin-left: 15%;
    }
}

@media screen and (min-width: 768px) {
    nav li {
        display: none;
    }
    .topnav {
        visibility: visible;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #fff;
        background-image: radial-gradient(#84ceeb, #c1c8e4);
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #fff;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #c1c8e4;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    /* Add a grey background color on mouse-over */
    .topnav #myLinks a:hover {
        background-color: #ddd;
        font-weight: bolder;
    }
    /* Style the active link (or home/logo) */
    .active {
        background-color: #fff;
    }
    h1 {
        padding-top: 32%;
    }
    #one {
        height: 100vh;
    }
    #two {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 133vh;
    }
    .flex-boxes {
        width: 100%;
        clear: both;
        margin: 0 auto;
        font-size: 150%;
    }
    aside img {
        margin-top: 0;
        width: 50%;
    }
    #three {
        height: 190vh;
    }
    #projects {
        margin-left: 15%;
    }
    aside img {
        width: 36%;
    }
}

@media screen and (min-width: 992px) {
    .topnav {
        visibility: hidden;
        height: 0vh;
    }
    header {
        background: #fff;
        padding: 2%;
        font-size: 110%;
        padding-bottom: 0%;
        height: 1vh;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    nav li {
        display: block;
        padding-right: 5%;
        background-color: #fff;
        float: right;
    }
    nav a {
        display: inline-block;
        text-decoration: none;
        color: #8860D0;
    }
    nav a:hover {
        font-weight: bolder;
    }
    nav a:active {
        color: #C1C8E4;
    }
    #one {
        text-align: center;
        background-color: #c1c8e4;
        background-image: radial-gradient(#84ceeb, #c1c8e4);
        height: 85.4vh;
    }
    h1 {
        font-size: 400%;
        padding-top: 10%;
        color: #8860D0;
    }
    #one p {
        font-size: 200%;
        color: #5680e9;
    }
    #two {
        width: 100%;
        height: 80vh;
        display: inline-block;
        padding-top: 10%;
    }
    .flex-boxes {
        width: 30%;
        float: left;
        margin: 0 auto;
        font-size: 150%;
    }
    #two article {
        padding-top: 5%;
        color: #8860D0;
    }
    aside img {
        width: 80%;
        border-radius: 45%;
        margin-left: 2%;
        float: left;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    #three {
        background-color: #C1C8E4;
        height: 75vh;
        margin-bottom: 0%;
        padding-top: 2%;
    }
    #three a {
        text-decoration: none;
    }
    #projects {
        display: inline-block;
        margin-left: 10%;
    }
    #projects img {
        margin: 0 auto;
        width: 46%;
        margin-right: 2%;
    }
    h2 {
        color: #8860D0;
        font-size: 200%;
        margin-top: 0%;
        margin-left: 20%;
    }
    footer {
        text-align: center;
        color: #8860D0;
        font-size: 200%;
        height: 30vh;
    }
    span {
        font-weight: bold;
    }
    footer a {
        text-decoration: none;
        margin-right: 3%;
    }
}
